.banner {
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: thin;
    border-color: #F0B726;
    background-color: #383E47;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #ffffff;
}



.btn-primary {
    background-color: #383E47 !important;
    border-color: #F0B726 !important;
    margin-bottom: 1rem;
}

.app-table {
    border-style: solid;
    border-width: thin;
    border-color: inherit;
}

.app-table td {
    border-style: solid;
    border-width: thin;
    border-color: inherit;
}